<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= favicon_link_tag 'favicon.ico' %>
    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="fixed">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1><a href="#"><%= image_tag("mini-logo-small-main.png", size:"86x60") %></a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
        </ul>

        <!-- Left Nav Section -->
        <ul class="left">
          <li class="has-dropdown">
            <a href="#"><strong>MODELS</strong></a>
              <div id="dropdown-models" class="dropdown">
              </div>
          </li>
          <li class="has-dropdown">
            <a href="#"><strong>WHY MINI</strong></a>
              <div id="dropdown-why-mini" class="dropdown">
              </div>
          </li>
          <li class="has-dropdown">
            <a href="#"><strong>SHOPPING TOOLS</strong></a>
              <div id="dropdown-shopping-tools" class="dropdown">
              </div>
          </li>
          <li class="has-dropdown">
            <a href="#"><strong>OWNERS</strong></a>
              <div id="dropdown-owners" class="dropdown">
              </div>
          </li>
        </ul>
      </section>
    </nav>
    </div>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>